<div id="about" class="container mx-auto flex flex-col sm:flex-row gap-10 items-center justify-center my-20">
<h1 class="text-white text-4xl tracking-tighter text-balance max-lg:font-medium max-sm:px-4 sm:text-5xl lg:text-6xl text-center sm:w-1/2">
    About
</h1>
    <p class="text-white text-lg max-lg:text-xl max-sm:text-base text-balance sm:w-1/2 px-10">
        I'm a software engineer with a passion for web development, proficient in JavaScript and skilled in frontend frameworks like React, Astro, and Svelte. I have experience consuming and building REST APIs and some knowledge in backend technologies such as Node, Express JS, and SQLite. I'm always looking for new challenges and opportunities to learn new things.
    </p>
</div>