<div id="edu" class="container mx-auto flex flex-col sm:flex-row gap-10 items-center justify-center my-20">
    <h1 class="text-white text-4xl tracking-tighter text-balance max-lg:font-medium max-sm:px-4 sm:text-5xl lg:text-6xl text-center sm:w-1/2">
        Education
    </h1>
    <ul class="sm:w-1/2  px-10">
      <li class="mb-4">
        <h2 class="text-white text-xl font-semibold">Bachelor Degree in Software Engineering</h2>
        <p class="text-white text-sm">Universidad Autónoma de Yucatán, 2019 - 2025</p>
      </li>
      <li class="mb-4">
        <h2 class="text-white text-xl font-semibold">High School Diploma</h2>
        <p class="text-white text-sm">Escuela Preparatoria Uno, 2016 - 2029</p>
      </li>
    </ul>
  </div>