<div class="h-fit flex p-10 justify-center items-start ">
  <div class="flex flex-col gap-10 justify-center items-center">
    <img
      src="me.webp"
      alt="Vicente Nava"
      class="rounded-full max-w-60 w-full aspect-square object-cover"
    />
    <h1
      class="text-white px-2 text-4xl tracking-tighter text-balance max-lg:font-medium max-sm:px-4 sm:text-5xl lg:text-6xl xl:text-8xl text-center"
    >
      Vicente Nava Montoya
    </h1>
    <div class="flex flex-col gap-8 items-center justify-center">
      <p class="text-white text-lg max-lg:text-xl max-sm:text-base text-center">
        Software Engineer, Web development enthusiast
      </p>

      <button class="font-bold bg-white text-black px-4 py-2 rounded-full">
        <a
          target="_blank"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=vicnav28@gmail.com&body=Hi%20Vicente,%0A%0AI%20found%20your%20website%20and%20I%20would%20like%20to%20contact%20you%20for%20more%20information.
"
          >Contact me</a
        >
      </button>
    </div>
  </div>
</div>
