---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Vicente Nava</title>
  </head>
  <body class="bg-slate-950 text-white flex flex-col">

		<img class="fixed w-full blur-[64px] object-cover -z-10 pointer-events-none" src="background.svg" alt="Background" />
	  
		<!-- Content -->
		<header class="sticky top-0 z-50">
			<nav class="h-16 bg-black/20 backdrop-blur-xl flex items-center justify-center px-8">
				<ul class="flex gap-6 w-full justify-center">
					<li><a href="#about">About</a></li>
					<li><a href="#edu">Education</a></li>
					<li><a href="#exp">Experience</a></li>
				</ul>
			</nav>
		</header>
	  </div>
   
     
      <slot />

	  <footer class="h-16 bg-black/20 backdrop-blur-lg flex items-center justify-center px-8">

		<p class="text-gray-300 text-sm text-center">Made with ❤️ by Vicente Nava</p>
		
	  </footer>
	
  </body>
</html>
